@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
   
   
}
 
.cabecalho {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.logo {
    margin-left: 40px;
}
.satelite{
    padding: 50px;
}
.satelite h1{
    font-family: "IBM Plex Sans", sans-serif;
    color: #0057B6;
    margin-left: 100px;
}
.satelite p{
    color: #949494;
    font-family: "Monstserra", sans-serif;
    width: 90%;
    padding-left: 8vh;
   
    margin: 10px;
}
.drones{
    padding: 50px;
}
.drones h1{
    font-family: "IBM Plex Sans", sans-serif;
    color: #0057B6;
    margin-left: 100px;
 
}
.drones p{
    color: #949494;
    font-family: "Monstserra", sans-serif;
    width: 90%;
    padding-left: 8vh;
    margin: 10px;
 
}
.rodape {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.rodape h1 {
    font-family: "IBM Plex Sans", sans-serif;
    margin-bottom: 20px;
}
.img-empresas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img-empresas img {
    height: 10vh;
    width:200px;
    margin: 10px;
}
