body {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Nunito", sans-serif;
}
.email , .senha {
    font-size: 25px;
    
}
form {
    width: 300px;
}
input {
    border: none;
}
input, button {
    padding: 10px;
    margin-bottom: 10px;
    width: -webkit-fill-available;
}
button {
    cursor: pointer;
}
button:active {
    opacity: 0.8;
}
button[disabled] {
    opacity: 0.8;
}
 

.clear {
    background: transparent;
    border: none;
    color: #949494;
}
.solid {
    background: whitesmoke;
    border: none;
    color: #0057B6;

}
.outline {
    background: transparent;
    color: #0057B6;
    border: 2px solid #0057B6;
}
.form{
    border-radius: solid 1px black;         
}