@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
   
}
html{
    scroll-behavior: smooth;
}
.cabecalho {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    font-family: "IBM Plex Sans", sans-serif;
}
.logo {
    margin-left: 40px;
}

.cb-informacoes a {
    font-size: 3vh;
    color: #023a84;
    text-decoration: none;
    cursor: pointer;
    margin: 40px;
    font-family: "Freeman", sans-serif;
}

.section {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.slider {
    width: 100%;
    height: 100%;  
    overflow: hidden;
    position: relative;
}
 
.slide {
    width: 500%;
    height: 700px;
    display: flex;
    position: relative;
}
 
.slide input {
    display: none;
}
 
.st {
    width: 20%;
    transition: 2s;
}
 
.st img {
    width: 100%;
    height: 700px;
}
 
.nav-m {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    display: flex;
    align-items: center;
}
 
.m-btn {
    border: 2px solid #023a84;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
 
.m-btn:not(:last-child) {
    margin-right: 30px;
}
 
.m-btn:hover {
    background-color: #023A84;
}
 
#radio1:checked ~ .first {
    margin-left: 0;
}
 
#radio2:checked ~ .first {
    margin-left: -20%;
}
 
#radio3:checked ~ .first {
    margin-left: -40%;
}
 
#radio4:checked ~ .first {
    margin-left: -60%;
}
 
.nav-auto {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    display: flex;
    justify-content: center;
}
 
.nav-auto div {
    border: 2px solid #023A84;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
 
.nav-auto div:not(:last-child) {
    margin-right: 30px;
}
 
#radio1:checked ~ .nav-auto .a-b1 {
    background-color: #023A84;
}
 
#radio2:checked ~ .nav-auto .a-b2 {
    background-color: #023A84;
}
 
#radio3:checked ~ .nav-auto .a-b3 {
    background-color: #023A84;
}
 
#radio4:checked ~ .nav-auto .a-b4 {
    background-color: #023A84;
}
 
.sobre-nos {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.sobre-nos h1 {
    font-size: 44px;
    padding: 10px;
    font-family: "IBM Plex Sans", sans-serif;
    color: #0057B6;
}
.sobre-nos p {
    font-size: 2vh;
    margin-left: 100px;
    margin-right: 100px;
    color: #949494;
    font-family: "Monstserra", sans-serif;
    margin-bottom: 5px;
}
.integrantes {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.integrantes h1 {
    font-size: 44px;
    padding: 10px;
    font-family: "IBM Plex Sans", sans-serif;
    color: #0057B6;
}
.integrantes-img {
    display: flex;      
    justify-content: center;
}
.integrantes-img img {
    height: 200px;
    width: 200px;
    border-radius: 12px;
    display: flex;
    margin: 3vh;
    border: solid 3px#0057B6;
}
.integrantes-img p {
    font-size: 3vh;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: bold;
             
}
.adr, .lps, .marc {
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-bottom: 80px;
}
 
/* Adjusted CSS for responsive footer */
.rodape {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.rodape h1 {
    font-family: "IBM Plex Sans", sans-serif;
    margin-bottom: 20px;
}
.img-empresas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img-empresas img {
    height: 10vh;
    width:200px;
    margin: 10px;
}
 
/* Responsive design adjustments */
@media (max-width: 768px) {
    .integrantes-img {
        flex-direction: column;
    }
    .integrantes-img img {
        margin: 2vh 0;
    }
    .rodape {
        padding: 10px;
    }
    .rodape h1 {
        font-size: 24px;
    }
    .img-empresas img {
        height: 8vh;
        width: 80px;
    }
}