* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.cabecalho {
    background-color: rgba(33, 54, 110, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}
.logo{
   margin-left: 40px;
}
  
.cb-informacoes a{
    font-size: 30px;
    color: aliceblue;
    text-decoration: none;
    cursor:pointer;
    margin: 40px;
    
    
    
}
.section {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.slider {
    width: 100%; /* Alterado para 100% */
    height: 700px;  
    overflow: hidden;
    position: relative; /* Adicionado */
}

.slide {
    width: 500%; /* Ajuste opcional */
    height: 700px;
    display: flex;
    position: relative; /* Adicionado */
}

.slide input {
    display: none;
}

.st {
    width: 20%;
    transition: 2s;
}

.st img {
    width: 100%;
    height: 700px;
}


.nav-m {
    position: absolute;
    bottom: 20px; /* Ajustado */
    left: 50%; /* Ajustado */
    transform: translateX(-50%); /* Ajustado */
    justify-content: center;
    display: flex;
    align-items: center;
}

.m-btn {
    border: 2px solid blueviolet;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.m-btn:not(:last-child) {
    margin-right: 30px;
}

.m-btn:hover {
    background-color: aqua;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

.nav-auto {
    position: absolute;
    bottom: 20px; /* Ajustado */
    left: 50%; /* Ajustado */
    transform: translateX(-50%); /* Ajustado */
    width: auto; /* Alterado */
    display: flex;
    justify-content: center;
}

.nav-auto div {
    border: 2px solid aqua;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(:last-child) {
    margin-right: 30px;
}

#radio1:checked ~ .nav-auto .a-b1 {
    background-color: aqua;
}

#radio2:checked ~ .nav-auto .a-b2 {
    background-color: aqua;
}

#radio3:checked ~ .nav-auto .a-b3 {
    background-color: aqua;
}

#radio4:checked ~ .nav-auto .a-b4 {
    background-color: aqua;
}
.reclame{
    background-color: #023A84;
    height: 130px;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
